<html>
	<head>
		<title>Profile</title>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<h3 class="title">Hello <%= session.email %></h3>

		<% if (currencies && currencies.length > 0) { %>
			<div class="login">
				<form class="form_login" action="/profile" method="post">
					<div class="form-group inLineBlock">
						<label for="exampleFormControlSelect1">Add a new coin to watchlist</label>
						<select class="form-control" id="exampleFormControlSelect1" name="coin">
							<% currencies.forEach((curr) => { %>
								<option value='{"name": "<%= curr.name %>", "symbol": "<%= curr.symbol %>"}'><%= curr.name %></option>

							<% }) %>
						</select>
					</div>
					<button type="submit" class="btn btn-primary inLineBlock" name="newCoin" value="ok">Add</button>
				</form>
			</div>
		<% } else { %>
			<p>Error while loading currencies ;) </p>
		<% } %>


		<h5 class="title">Coins you are watching</h5>

		<form action="/profile" method="post">
			<% if (session && session.coins && session.coins.length > 0) { %>
				<table class="table table-hover">
					<thead class="thead-light">
						<tr>
							<th scope="col">Remove coin</th>
							<th scope="col">Symbol</th>
							<th scope="col">Name</th>
							<th scope="col">Min Accepted Value</th>
						</tr>
					</thead>
					<tbody>
						<% session.coins.forEach((curr) => { %>
							<tr>
								<th scope="row"><button type="sumbit" class="btn btn-danger" name="rmCoin" value="<%= curr.name %>">Remove <%= curr.symbol %></button></th>
								<td ><%= curr.symbol %></td>
								<td ><%= curr.name %></td>
								<td ><%= curr.minValue %></td>
							</tr>

						<% }) %>
					</tbody>
				</table>
			<% } else { %>
				<p class="center">None</p>
			<% } %>
		</form>

		<% include ../partials/footer %>
	</body>
</html>
